.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions



#!.yarn/cache
.pnp.*
.yarn

node_modules
.vscode
.env

# Hardhat files
/cache
/artifacts
deployments



# solidity-coverage files
/coverage
/coverage.json



/ignition

